<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duanjunyu.mapper.MoveDao">
	<select id="list" resultType="m">
		select * from move m,ttype t where m.type=t.tid
	</select>
	<select id="findtype" resultType="t">
		select * from ttype
	</select>
</mapper>